# Ignorar arquivos de dados dinâmicos
inscricoes.csv
alunos.csv
credentials.json


# Ignorar arquivos temporários do sistema
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar configurações do editor
.vscode/
.idea/
*.swp
