
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Essence No Gi Studio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="logo">
        <h1>Bem-vindo ao Essence No Gi Studio</h1>
        <a href="{{ url_for('registo') }}">Registar como aluno</a>
        <a href="{{ url_for('inscricao') }}">Inscrever-se numa aula</a>
        <a href="{{ url_for('admin') }}">Acesso do administrador</a>
    </div>
</body>
</html>
